force-app/main/default/flows/Evaluate_Donation_Sharing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Create_New_Share</name>
        <label>Create New Share</label>
        <locationX>522</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>SharetoInsert.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequiredAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SharetoInsert.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation.Received_By_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SharetoInsert.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SharetoInsert.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SharingReason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Share</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Found_Flag</name>
        <label>Set Found Flag</label>
        <locationX>717</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>FoundShare</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Donation_Shares</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>RequiredAccessLevel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </constants>
    <constants>
        <name>SharingReason</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Major_Donor_Relationship_Manager__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Matches_Required_Share</name>
        <label>Matches Required Share?</label>
        <locationX>707</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>Delete_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DonationShare.ParentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Donation.Received_By_User__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DonationShare.AccessLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RequiredAccessLevel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Found_Flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_Create</name>
        <label>Need to Create?</label>
        <locationX>515</locationX>
        <locationY>433</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundShare</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Share</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Evaluate Donation Sharing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Evaluate Donation Sharing</label>
    <loops>
        <name>Iterate_Donation_Shares</name>
        <label>Iterate Donation Shares</label>
        <locationX>522</locationX>
        <locationY>194</locationY>
        <assignNextValueToReference>DonationShare</assignNextValueToReference>
        <collectionReference>Get_Current_Shares</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matches_Required_Share</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Need_to_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Share</name>
        <label>Insert Share</label>
        <locationX>701</locationX>
        <locationY>613</locationY>
        <inputReference>SharetoInsert</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Share</name>
        <label>Delete Share</label>
        <locationX>718</locationX>
        <locationY>345</locationY>
        <connector>
            <targetReference>Iterate_Donation_Shares</targetReference>
        </connector>
        <inputReference>DonationShare</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Current_Shares</name>
        <label>Get Current Shares</label>
        <locationX>359</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Donation_Shares</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DonationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SharingReason</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Donation__Share</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RowCause</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <queriedFields>AccessLevel</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Donation</name>
        <label>Get Donation</label>
        <locationX>198</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Shares</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DonationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Donation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Received_By_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>196</locationY>
        <connector>
            <targetReference>Get_Donation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DonationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DonationShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Donation__Share</objectType>
    </variables>
    <variables>
        <name>FoundShare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SharetoInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Donation__Share</objectType>
    </variables>
</Flow>
