force-app/main/default/flows/Set_Donation_Country_Sharing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Create_New_Share</name>
        <label>Create New Share</label>
        <locationX>1215</locationX>
        <locationY>243</locationY>
        <assignmentItems>
            <assignToReference>SharetoInsert.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequiredAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SharetoInsert.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shared_To_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SharetoInsert.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SharetoInsert.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SharingReason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Share</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Found_Flag</name>
        <label>Set Found Flag</label>
        <locationX>989</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>FoundShare</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Donation_Shares</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>RequiredAccessLevel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </constants>
    <constants>
        <name>RoleAndSubordinates</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RoleAndSubordinates</stringValue>
        </value>
    </constants>
    <constants>
        <name>SharingReason</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Share_to_Country_Finance_Manager__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Matches_Required_Share</name>
        <label>Matches Required Share?</label>
        <locationX>840</locationX>
        <locationY>440</locationY>
        <defaultConnector>
            <targetReference>Delete_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DonationShare.ParentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Shared_To_Group.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DonationShare.AccessLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RequiredAccessLevel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Found_Flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_Create</name>
        <label>Need to Create?</label>
        <locationX>1072</locationX>
        <locationY>243</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundShare</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Share</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Set Donation Country Sharing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Donation Country Sharing</label>
    <loops>
        <name>Iterate_Donation_Shares</name>
        <label>Iterate Donation Shares</label>
        <locationX>849</locationX>
        <locationY>245</locationY>
        <assignNextValueToReference>DonationShare</assignNextValueToReference>
        <collectionReference>Get_Current_Shares</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matches_Required_Share</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Need_to_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Share</name>
        <label>Insert Share</label>
        <locationX>1311</locationX>
        <locationY>242</locationY>
        <inputReference>SharetoInsert</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Share</name>
        <label>Delete Share</label>
        <locationX>699</locationX>
        <locationY>441</locationY>
        <connector>
            <targetReference>Iterate_Donation_Shares</targetReference>
        </connector>
        <inputReference>DonationShare</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Country</name>
        <label>Get Country</label>
        <locationX>491</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Programme.Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Finance_Manager_Role__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Shares</name>
        <label>Get Current Shares</label>
        <locationX>848</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Donation_Shares</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SharingReason</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Donation__Share</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RowCause</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <queriedFields>AccessLevel</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Donation</name>
        <label>Get Donation</label>
        <locationX>280</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Programme</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Donation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Received_By_User__c</queriedFields>
        <queriedFields>Programme_to_Support__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Programme</name>
        <label>Get Programme</label>
        <locationX>386</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Country</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Donation.Programme_to_Support__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Programme__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Role</name>
        <label>Get Role</label>
        <locationX>607</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Shared_To_Group</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Country.Finance_Manager_Role__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shared_To_Group</name>
        <label>Get Shared To Group</label>
        <locationX>722</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Shares</targetReference>
        </connector>
        <filters>
            <field>RelatedId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Role.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RoleAndSubordinates</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>164</locationX>
        <locationY>197</locationY>
        <connector>
            <targetReference>Get_Donation</targetReference>
        </connector>
        <object>Donation__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-03-06</startDate>
            <startTime>06:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DonationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DonationShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Donation__Share</objectType>
    </variables>
    <variables>
        <name>FoundShare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SharetoInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Donation__Share</objectType>
    </variables>
</Flow>
